<div class="category-contant">
    <ul>
        <li><a class="no-brd" [routerLink]="['/home/products/all']">Show All</a></li>
<!--        <li><a [routerLink]="['/home/products/Butter & Eggs']">Butter & Eggs</a></li>-->
<!--        <li><a [routerLink]="['/home/products/Fruits']">Fruits</a></li>-->
<!--        <li><a [routerLink]="['/home/products/Cheese']">Cheese</a></li>-->
<!--        <li><a [routerLink]="['/home/products/Vegetables']">Vegetables</a></li>-->
<!--        <li><a [routerLink]="['/home/products/Milk']">Milk</a></li>-->
      <li *ngFor="let category of categories | async">
        <a class="no-brd" [routerLink]="['/home/products/',category.name]">{{category.name}}</a>
      </li>

    </ul>
</div>
